@model dynamic

@{
    ViewBag.Title = "Manage Institutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Institution</h2>
@using (Html.BeginForm("AddInstitution", "Institutions", FormMethod.Post))
{

}
